 <div class="legal">
   <div class="copyright">
     &copy; 2018 @typeof(Startup).Assembly.GetName().Name.
   </div>
  <div class="version">
    <b>Version: </b> @typeof(Startup).Assembly.GetName().Version.ToString()
  </div>
</div>