
<div class="menu">
  <ul class="list">
    <li class="header">MAIN NAVIGATION</li>
    <li condition-class-active="@isHome()">
      <a asp-page="/Index">
        <i class="material-icons">home</i>
        <span>Home</span>
      </a>
    </li>
    <li condition-class-active="@isAbout()">
      <a asp-page="/About">
        <i class="material-icons">text_fields</i>
        <span>About</span>
      </a>
    </li>
    <li condition-class-active="@isContact()">
      <a asp-page="/Contact">
        <i class="material-icons">layers</i>
        <span>Contact</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">content_copy</i>
        <span>Example Pages</span>
      </a>
      <ul class="ml-menu">
        <li>
          <a href="#">Sign In</a>
        </li>
        <li>
          <a href="#">Sign Up</a>
        </li>
        <li>
          <a href="#">Forgot Password</a>
        </li>
        <li>
          <a href="#">Blank Page</a>
        </li>
        <li>
          <a href="#">404 - Not Found</a>
        </li>
        <li>
          <a href="#">500 - Server Error</a>
        </li>
      </ul>
    </li>
    <li>
      <a asp-page="/Changelogs">
        <i class="material-icons">update</i>
        <span>Changelogs</span>
      </a>
    </li>
  </ul>
</div>


@functions
{
  bool isHome() => ViewData["Title"].ToString() == "Home page"; 

  bool isAbout() => ViewData["Title"].ToString() == "About";
  
  bool isContact() => ViewData["Title"].ToString() == "Contact";






}
