@using Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="user-info">
  <div class="image">
    <img src="~/images/user.png" width="48" height="48" alt="User" />
  </div>
  <div class="info-container">
    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @await GetFullNameAsync()
    </div>
    <div class="email">
      @UserManager.GetUserName(User)
    </div>
    <div class="btn-group user-helper-dropdown">
      <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
      <ul class="dropdown-menu pull-right">
        <li><a asp-page="./Profile"><i class="material-icons">person</i>Profile</a></li>
        <li role="seperator" class="divider"></li>
        <li><a asp-page="./Settings"><i class="material-icons">settings</i>Settings</a></li>
        <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
        <li role="seperator" class="divider"></li>
        <li><a asp-page="./Account/Logoff"><i class="material-icons">input</i>Sign Out</a></li>
      </ul>
    </div>
  </div>
</div>

@functions{
  public async Task<string> GetFullNameAsync()
  {
    var currentUser = await UserManager.GetUserAsync(User);
    return $"{currentUser.Firstname} {currentUser.Lastname}";
  }
}