@page
@model Administrador.Usuarios.CadastroModel
@{
    ViewData["Menu"] = "Administrador-Usuario-Cadastro";
    ViewData["Title"] = "Cadastro de usuário";
}


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="header">
      <h2>
        Dados de usuario
      </h2>
    </div>
    <div class="body">
      
      @if (ViewData["ErrorMessage"] != null)
      {
        <bootstrap-alert class="alert-danger alert-dismissible fade in">
          <bootstrap-alert-close><span aria-hidden="true">×</span></bootstrap-alert-close>
         @ViewData["ErrorMessage"]
        </bootstrap-alert>
      }

      <form method="POST">
        <label asp-for="Input.Email"></label>
        <div class="form-group">
          <div class="form-line">
            <input asp-for="Input.Email" class="form-control" placeholder="Email">
          </div>
        </div>
        <label asp-for="Input.Nome"></label>
        <div class="form-group">
          <div class="form-line">
            <input asp-for="Input.Nome"class="form-control" placeholder="Nome">
          </div>
        </div>
        <label asp-for="Input.Sobrenome"></label>
        <div class="form-group">
          <div class="form-line">
            <input asp-for="Input.Sobrenome" class="form-control" placeholder="Sobrenome">
          </div>
        </div>
        <label asp-for="Input.DataNascimento"></label>
        <div class="form-group">
          <div class="form-line">
            <input asp-for="Input.DataNascimento" class="form-control" placeholder="Data de nascimento">
          </div>
        </div>



        <br>
        <button type="submit" class="btn btn-primary m-t-15 waves-effect">LOGIN</button>
      </form>
    </div>
  </div>
</div>






@section Scripts {
  @await Html.PartialAsync("Partials/ValidationScripts")

}


@section Styles {



}