@page
@model Administrador.Usuarios.ConsultaModel
@{
  ViewData["Menu"] = "Administrador-Usuario-Consulta";
  ViewData["Title"] = "Consulta de usuário";
}

<!-- Striped Rows -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
          STRIPED ROWS
          <small>Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code></small>
        </h2>
      </div>
      <div class="body table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Editar</th>
              <th>Grupo de Usuário</th>
              <th>E-mail</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th class="text-center">Bloqueado?</th>
              <th class="text-center">Resetar Senha</th>
              <th class="text-center">Bugs Reportados</th>
              <th class="text-center">Log</th>
              <th class="text-center">Auditoria</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model.Consulta.Users)
            {
              <tr>
                <th scope="row" class="text-center">
                  <a href="#">
                    <i class="material-icons">mode_edit</i>
                  </a>
                </th>
                <td>Administradores</td>
                <td>@item.Email</td>
                <td>@item.Firstname</td>
                <td>@item.Lastname</td>
                <td class="text-center">Falso</td>
                <td class="text-center">
                  <a href="#">
                    <i class="material-icons">lock</i>
                  </a>
                </td>
                <td class="text-center">
                  <a href="#">
                    <i class="material-icons">bug_report</i>
                  </a>
                </td>
                <td class="text-center">
                  <a href="#">
                    <i class="material-icons">insert_drive_file</i>
                  </a>
                </td>
                <td class="text-center">
                  <a href="#">
                    <i class="material-icons">find_in_page</i>
                  </a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- #END# Striped Rows -->