@page
@model dew.site.Pages.ChangeLogsModel
@{
  ViewData["Menu"] = "Changelogs";
  ViewData["Title"] = "Changelogs";
}

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
          v1.0.5
          <small>27th June 2017</small>
        </h2>
      </div>
      <div class="body">
        <p>- Fixed bugs</p>
        <p>- Button with icon & text added</p>
      </div>
    </div>
  </div>
</div>